*.pyc
*.xml
*.db
./models/__pycache__/
./models/users/__pycache__/
./models/utils/__pycache__/
./resources/__pycache__/
./resources/auth/__pycache__/
./resources/utils/__pycache__/
./schemas/__pycache__/
./venv/
./ __pycache__/
./venv/*.*
.idea/*.*
../../package-lock.json
./venv/
